# {{ ansible_managed }}
http:
  routers:
{% for service in svc_traefik_extra_hosts %}
    {{ service.shortname }}-rtr:
      entryPoints:
        - webSecure
      middlewares: {{ service.middlewares }}
      service: {{ service.shortname }}-svc
      rule: Host(`{{ service.subdomain | default(service.shortname) }}.{{ svc_domain }}`)
      tls:
        certResolver: {{ svc_traefik_dns_challenge_provider }}

{% endfor %}
{% if svc_traefik_middlewares %}
  middlewares: {{ svc_traefik_middlewares_default | combine(svc_traefik_middlewares) }}
{% endif %}

  services:
  {% for service in svc_traefik_extra_hosts %}
  {{ service.shortname }}-svc:
      loadBalancer:
        servers:
          - url: {{ service.protocol | default(https) }}://{{ service.ip_addr }}:{{ service.port }}

  {% endfor %}