# {{ ansible_managed }}
services:
  {{ svc_docker_volume_backup_service_name }}:
    image: {{ svc_docker_volume_backup_container_image }}
    container_name: {{ svc_docker_volume_backup_container_hostname }}
    hostname: {{ svc_docker_volume_backup_container_hostname }}
    restart: {{ svc_docker_volume_backup_restart_policy | default(svc_restart_policy) }}
    logging:
      driver: {{ svc_log_driver }}
      options: {{ svc_log_options }}
    env_file: {{ svc_docker_volume_backup_env_file_path }}
    volumes:
      - {{ svc_docker_volume_backup_confd_directory_path }}:/etc/dockervolumebackup/conf.d
      - {{ svc_docker_volume_backup_archive_directory_path }}:{{ svc_docker_volume_backup_archive }}
{% for svc, vols in _svc_docker_volume_backup_volumes.items() %}
{% for vol in vols %}
      - {{ vol }}:/backup/{{ svc }}/{{ vol }}:ro
{% endfor %}
{% endfor %}
    mem_limit: {{ svc_docker_volume_backup_container_memory }}
    labels:
      com.centurylinklabs.watchtower.enable: 'false'
    networks:
      - default
      - {{ svc_docker_network_name }}
      - {{ svc_docker_socket_proxy_network_name }}
{% if _svc_docker_volume_backup_volumes | length > 0 %}
volumes:
{% for vols in _svc_docker_volume_backup_volumes.values() %}
{% for vol in vols %}
  {{ vol }}:
    external: 'true'
{% endfor %}
{% endfor %}
{% endif %}

networks:
  default:
    driver: bridge
    internal: 'true'
  {{ svc_docker_network_name }}:
    external: 'true'
  {{ svc_docker_socket_proxy_network_name }}:
    external: 'true'
